.DS_Store
Thumbs.db
node_modules/
.turbo/
.env
.env.local
.env.*.local
dist/
build/
.next/
.dart_tool/
.idea/
.vscode/
coverage/
*.log
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/.metadata
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/
supabase/.branches
supabase/.temp
